#root {
  --board-size: calc(min(100vh, 100vw) * 0.8);
  --cell-size: calc(var(--board-size) / 9);
  --big-border: calc(var(--board-size) * 0.003);
  --small-border: calc(max(var(--big-border) * 0.24, 1px));
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #282c34;
}

.board {
  display: grid;
  width: calc(var(--board-size) + var(--big-border) / 2);
  height: calc(var(--board-size) + var(--big-border) / 2);
}

.row {
  display: flex;
  width: calc(var(--board-size) + var(--big-border) / 2);
  height: calc(var(--cell-size));
}
.row:not(:last-child) {
  border-bottom: var(--small-border) solid grey;
}
.row:nth-child(3n+3):not(:last-child) {
  border-bottom: var(--big-border) solid white;
}

.cell {
  display: flex;
  width: calc(var(--cell-size));
  height: calc(var(--cell-size));
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(var(--cell-size) * 0.6);
}
.cell:not(:last-child) {
  border-right: var(--small-border) solid grey;
}
.cell:nth-child(3n+3):not(:last-child) {
  border-right: var(--big-border) solid white;
}

.cell {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#selected {
  background-color: cornflowerblue;
}
#co-selected {
  background-color: rgb(55, 55, 55);
}